
/* --------------- Start: X-Small Devices --------------- */


body {
    background: #F0F0F0;
    height: 100vh;
    width: 100vw;
    /*background: #F0F0F0;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-family: 'Abel', sans-serif;*/
    /*font-family: 'Anton', sans-serif;*/
}

/* --- Everything within the Nav --- */

.navSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-strip {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 98px;
    width: 100%;
}

#logo {
    height: 200px;
    width: 200px;
}

h1.codeupdesign {
    font-family: 'Abel', sans-serif;
    font-size: 3.5em;
    text-align: center;
}

ul.nav {
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
}

nav a.nav-link {
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 21px;
    padding: 10px;
}

nav a.nav-link:hover {
    color: blue;
}

/* --- Everything within the Main --- */

h1.visual-design {
    font-family: 'Anton', sans-serif;
    font-size: 3.8em;
    text-align: center;
    padding: 5px;
}

h4.city {
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

.circles .btn {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    border: 10px solid white;
    margin: 5px 10px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

#designButton {
    background: #E6563B;
    color: white;
}

#developButton {
    background: #dea03d;
    color: white;
}

#supportButton {
    background: #7cb06c;
    color: white;
}

#hostButton {
    background: #00aba9;
    color: white;
}

#selectedWork {
    font-family: 'Abel', sans-serif;
    font-size: 21px;
}

#appleIpadBox {
    font-family: 'Abel', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#appleIpad {
    height: 200px;
    width: 330px;
    border: 10px solid #F0F0F0;
}

h6 {
    font-size: 21px;
}

#badge1 {
    margin-left: 50px;
    background: #E6563B;
}

#badge2 {
    background: #eb9d3a;
}

#badge3 {
    background: #7cb06c;
}

#badge4 {
    background: #00aba9;
}

.badge {
    border-radius: 50%;
}
/* --------------- End: X-Small Devices --------------- */
