/*--------------------Clients: Style Guide --------------------*/

:root {
    /*---------- color descriptions by: colorhexa.com ----------*/

    --bright-red: #E6563B;
    --bright-orange: #DEA03D;
    --desaturated-dark-lime-green: #7CB06C;
    --dark-cyan: #00ABA9;
    --very-light-gray: #F0F0F0;
    --light-gray: #E6E6E6;

}

h1, h2, h3, h4, h5 {
    font-family: "Anton", sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

p {
    font-family: "Abel", sans-serif;
}

#logo {
    height: 105px;
    width: 105px;
}

#icons {
    height: 18px;
    width: 18px;
}
/*--------------------Clients: Style Guide (end) --------------------*/

/* --------------- Start: X-Small Devices --------------- */

body {
    background-color: var(--light-gray);
    height: 100vh;
    width: 100vw;
}

/* --- Everything within the Nav --- */

.navSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-strip {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 50px;
    width: 100%;
}

p.codeupdesign {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

ul.nav {
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
}

nav a.nav-link {
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    padding: 5px;
}

nav a.nav-link:hover {
    color: var(--dark-cyan);
}

/* --- Everything within the Main --- */

.visual-design {
    text-align: center;
}

.city {
    text-align: center;
}

div.circles {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

div.circles > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 7px solid white;
    margin: 5px 10px;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
}

#designButton {
    background-color: var(--bright-red);
    color: var(--very-light-gray);
}

#developButton {
    background-color: var(--bright-orange);
    color: var(--very-light-gray);
}

#supportButton {
    background-color: var(--desaturated-dark-lime-green);
    color: var(--very-light-gray);
}

#hostButton {
    background-color: var(--dark-cyan);
    color: var(--very-light-gray);
}

p.selected-work {
    font-size: 16px;
    text-align: center;
}

#appleIpadBox {
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appleIpad {
    height: 175px;
    width: 275px;
    border: 10px solid #F0F0F0;
}

#badge1 {
    margin-left: 50px;
    background-color: var(--bright-red);
}

#badge2 {
    background-color: var(--bright-orange);
}

#badge3 {
    background-color: var(--desaturated-dark-lime-green);
}

#badge4 {
    background-color: var(--dark-cyan);
}

.badge {
    border-radius: 50%;
}
/* --------------- End: X-Small Devices --------------- */

/* --------------- Start: X-Small Devices --------------- */
@media screen and (min-width: 576px) {
    #logo {
        height: 150px;
        width: 150px;
    }

    .white-strip {
        height: 80px;
    }

    h1.codeupdesign {

    }

    h1.visual-design {

    }

    h4.city {

    }
}


