* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: grey;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {

}

.nav-logo {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.nav-item {
    font-family: "Work Sans", sans-serif;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em;
    height: 100%;
}

a:hover {
    background: blue;
}