* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: grey;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

li:nth-child(4) {
    margin-right: auto;
}

li:nth-child(6) {
    margin-left: auto;
}

.nav-item {
    font-family: "Work Sans", sans-serif;
    font-weight: bolder;
}

.nav-logo {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3em;
    padding: .2em;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em;
    height: 100%;
}

a:hover {
    background: blue;
}