/* Mobile approach for anything below 768px */

* {
    box-sizing: border-box;
    /* Check with instructors to see why we are precisely using margin and padding 0 below. */
    margin: 0;
    padding: 0;
}

/* Box for "Skip to main content" */
div.alert-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div a {
    background-color: #ccffff;
    border: 2px solid #cccccc;
    width: calc(95% - 2px);
    margin: 1em 0;
    text-decoration: none;
    font-size: small;
    text-align: center;
    padding: 1em;
}

/* "Company" */
h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav bar box */
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

nav li {
    background-color: #cccccc;
    width: 95%;
    text-align: center;
    margin: .5em;
    padding: 1em;
}

/* image */
div.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    /*width: 339px;*/
    width: 95%;
    height: 224px;
    margin: .5em;
}

/* Main Section Paragraph & Sub-section Paragraph */
section.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

section.main h2 {
    width: 95%;
    margin: 1em 0 .5em 0;
}

section.sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    font-style: italic;
}

section.sub-section h2 {
    width: 95%;
    font-size: larger;
    margin: 2.5em 0 .5em 0;
}

section p {
    width: 95%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

footer p {
    width: 95%;
    margin: 5em 0 .5em 0;
    align-items: flex-start;
}


/* all devices from 768 and up */

@media screen and (min-width:768px) {
    div.hidden-on-desktop {
        display: none;
    }
}