* {
    box-sizing: border-box;
    /* Check with instructors to see why we are precisely using margin and padding 0 below. */
    margin: 0;
    padding: 0;
}

/* Box for "Skip to main content" */
.alert-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div a {
    background-color: #ccffff;
    border: 2px solid #cccccc;
    padding: 5px 100px;
}

/* "Company" */
h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav bar box */
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

li {
    background-color: #cccccc;
}

/* image */
