* {
    box-sizing: border-box;
    /* Check with instructors to see why we are precisely using margin and padding 0 below. */
    margin: 0;
    padding: 0;
}

/* Box for "Skip to main content" */
.alert-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div a {
    background-color: #ccffff;
    border: 2px solid #cccccc;
    padding: 5px 100px;
    text-decoration: none;
}

/* "Company" */
h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .2em 0;
}

/* nav bar box */
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

nav li {
    background-color: #cccccc;
    width: 95%;
    text-align: center;
    padding: .4em 0;
    margin: .4em 0;
}

/* image */
div.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 339px;
    height: 224px;
    margin: .4em 0;
}