/* Stylesheet for the welcome page - welcome.html */

body {
    background-image: url("../img/pexels-wouter-de-jong-571169.jpg");
    background-color: #888b9e;
    background-position: center;
    background-size: cover;

    font-family: "Big Caslon";

}

.fancy-header {
    color: #9e9088;
    text-decoration: underline;
    text-decoration-color: #969e88;
    text-align: center;
}

h2 {
    color: #9e9088;
    text-decoration: underline;
    text-decoration-color: #969e88;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-roman;
}

td, tr, th {
    border: 1px solid black;
    padding: 1em;
}

th {
    font-size: 20px;
    text-decoration: underline;
}

/* unvisited link (:link) */
a:link {
    color:blue;
}

/* visited link (:visited) */
a:visited {
    color:red;
}

/* mouse hover over link (:hover) */
a:hover {
    color:yellow;
}

/* active/selected link (:active) */
a:active {
    color:green;
}