/* Stylesheet for the welcome page - welcome.html */

body {
    background-color: #93b5ff;
}

.fancy-header {
    color: #ffdd93;
    text-decoration: underline;
    text-decoration-color: #b5ff93;
    text-align: center;
}

h2 {
    color: #ffdd93;
    text-decoration: underline;
    text-decoration-color: #b5ff93;
}
