/* Stylesheet for the welcome page - welcome.html */

body {
    background-image: url("../img/pexels-wouter-de-jong-571169.jpg");
    background-color: #888b9e;
    background-position: center;
    background-size: cover;

}

.fancy-header {
    color: #9e9088;
    text-decoration: underline;
    text-decoration-color: #969e88;
    text-align: center;
}

h2 {
    color: #9e9088;
    text-decoration: underline;
    text-decoration-color: #969e88;
}
