
 /*All the css for the map and search */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

 /*All the css for the popup */
.mapboxgl-popup-close-button {
    display: none;
}
div.mapboxgl-popup-content {
    font-family: Abel, serif;
    font-size: 17px;
    color: black;
    border-radius: 5%;
    padding: 5px;
    display: flex;
}

.card {
    border-radius: 1%;
}

/* CSS for the offcanvas scroll backdrop */