
 /*All the css for the map and search */

#map {
    position: absolute;
    top: 0;git
    bottom: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-popup-close-button {
    display: none;
}

div.mapboxgl-popup-content {
    font-family: Abel, serif;
    font-size: 18px;
    color: black;
    border-radius: 25%;
    padding: 5px 5px;
}

/* CSS for the offcanvas scroll backdrop */